* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
    perspective: 800px;
}
#sky {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
}

#grass {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  height: 700px;
}

#sun {
  position: absolute;
  width: 120px;
  top: 30px;
  left: 80px;
  z-index: 9999;
   transition: all 1.5s ease;
   
}

#birds {
  position: absolute;
  width: 400px;
  top: 30px;
  right: 250px;
}

#tree {
  position: absolute;
  width: 140vw;
  bottom: -170px;
  left: -250px;
}

#monkey {
  position: absolute;
  width: 250px;
  /* bottom: 190px;
   */
   top: 130px;
  right: 420px;
   transition: transform 0.5s ease-in-out;
   
   
}
#monkeyt {
  position: absolute;
  width: 250px;
  /* bottom: 190px;
   */
   top: 250px;
  right: 600px;
   transition: transform 0.5s ease-in-out;
   
   
}
#monkeytrans{
  position: absolute;
  width: 300px;
  /* bottom: 190px;
   */
   top: 90px;
  right: 800px;
   transition: transform 0.5s ease-in-out;
}
   

#house {
  position: absolute;
  width: 400px;
  bottom: 90px;
  right: 220px;
}

#dog {
  position: absolute;
  width: 300px;
  bottom: 80px;
 
  filter: drop-shadow(4px 20px 8px rgba(0, 0, 0, 0.4)) brightness(80%);
left: -300px; 
  transition: transform 3s linear;
   transition: transform 3s ease-in-out;
}


#swing{
     position: absolute;
  width: 300px;
  bottom: 50px;
  right: 220px;
  transition: opacity 1s ease, filter 1s ease;



}
#kids{
     position: absolute;
  width: 300px;
  bottom: 1px;
  right: 490px;
  transition: opacity 1s ease, filter 1s ease;



}
#kidss{
     position: absolute;
  width: 200px;
  bottom: 1px;
  right: 5px;
  transition: opacity 1s ease, filter 1s ease;



}
#band{
     position: absolute;
  width: 300px;
  bottom: 100px;
  right: 750px;
  transition: opacity 1s ease, filter 1s ease;



}
#dance{
     position: absolute;
  width: 300px;
  bottom: 1px;
  right: 920px;
  transition: opacity 1s ease, filter 1s ease;



}



#moon {
  position: absolute;
  width: 100px;
  top: 40px;
  right: 100px;
  opacity: 0;
  transform: translateY(-80px);

  transition: all 1.5s ease;  
}


#fire{
  position:absolute;
  width:120px;
  bottom:120px;
  left:1080px;
  opacity:0;
}
#owl{
    position:absolute;
  width:100px;
  /* bottom:120px; */
  top: 80px;
  left:890px;
  opacity:0;
  z-index: 9000000;

}


#man{
  position:absolute;
  width:180px;
  bottom:90px;
  left:-200px;
  transition: transform 4s linear;
}
#person{
  position:absolute;
  width:170px;
  bottom:110px;   
  left:1180px;    
  opacity:0;

  filter: brightness(70%);
  transition: opacity 1s ease, filter 1s ease;
  filter:
    brightness(90%)
    drop-shadow(0 0 25px orange)
    drop-shadow(0 0 45px red);
}


#eyes{
    position:absolute;
  width:90px;
  bottom:150px;   
  left:430px;    
  opacity:0;
   filter: brightness(70%);
  transition: opacity 1s ease, filter 1s ease;

}
#eyess{
    position:absolute;
  width:80px;
  bottom:190px;   
  left:200px;    
  opacity:0;
   filter: brightness(70%);
  transition: opacity 1s ease, filter 1s ease;
  

}

#firefly{
    position:absolute;
  width:400px;
  bottom:300px;   
  left:200px;    
  opacity:0;
   filter: brightness(100%);
  transition: opacity 1s ease, filter 1s ease;

}
#startScreen{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;

  background: linear-gradient(black, #111);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  z-index: 999999;
  color:white;
  text-align:center;
   transition: opacity 1s ease;
}

#startScreen h1{
  font-size:50px;
  margin-bottom:30px;
  letter-spacing:2px;
}

#startBtn{
  padding:15px 40px;
  font-size:20px;
  border:none;
  border-radius:10px;
  cursor:pointer;

  background:orange;
  color:black;

  transition:0.3s;
}

#startBtn:hover{
  transform:scale(1.1);
  background:yellow;
}


@media (min-width: 1600px){

  #sun{position: absolute;
        width: 140px;
        top: 10px;
        left: 80px;
        z-index: 9999;
        transition: all 1.5s ease;}

  #house   {    position: absolute;
        width: 567px;
        bottom: 26px;
        right: 220px;}

  #dog{ width:18vw; }

  #fire{ width:7vw; }

  #person{ width:10vw; }

  #tree{
   position: absolute;
        width: 140vw;
        bottom: -353px;
        left: -353px;
  }
  #sky{position: absolute;
  width: 100%;
  height: 85%;
  top: 0;}
  #monkey{
    position: absolute;
    width: 350px;
    /* bottom: 190px; */
    top: 114px;
    right: 700px;
    transition: transform 0.5s ease-in-out;
  }
  #monkeyt {
    position: absolute;
    width: 400px;
    /* bottom: 190px; */
    top: 200px;
      left: 600px;
    transition: transform 0.5s ease-in-out;
}
#dance{
     position: absolute;
  width: 500px;
  bottom: 1px;
 left: 30px;
  transition: opacity 1s ease, filter 1s ease;



}
#band{
    position: absolute;
    width: 400px;
    bottom: 40px;
   left: 500px;
    transition: opacity 1s ease, filter 1s ease;}


#monkeytrans{
    position: absolute;
    width: 300px;
    /* bottom: 190px; */
    top: 90px;
   left: 300px;
    transition: transform 0.5s ease-in-out;

}
    #kids {
        position: absolute;
        width: 459px;
        bottom: -118px;
        right: 608px;
        transition: opacity 1s ease, filter 1s ease;
    }
    #swing{
    position: absolute;
   width: 405px;
        bottom: 32px;
        right: 232px;
    transition: opacity 1s ease, filter 1s ease;
}
#kidss {
    position: absolute;
   width: 258px;
        bottom: 1px;
        right: 6px;
    transition: opacity 1s ease, filter 1s ease;
}
#owl{
     position:absolute;
  width:100px;
  /* bottom:120px; */
  top: 80px;
  left:1250px;
  opacity:0;
  z-index: 9000000;

}
#person{
  position:absolute;
  width:170px;
  bottom:110px;   
  left:90%;    
  opacity:0;

  filter: brightness(70%);
  transition: opacity 1s ease, filter 1s ease;
  filter:
    brightness(90%)
    drop-shadow(0 0 25px orange)
    drop-shadow(0 0 45px red);
}
#fire{
  position:absolute;
  width:120px;
  bottom:120px;
  left:84%;
  opacity:0;
}
#dog {
  position: absolute;
  width: 400px;
  bottom: 40px;
 
  filter: drop-shadow(4px 20px 8px rgba(0, 0, 0, 0.4)) brightness(80%);
left: -350px; 
  transition: transform 3s linear;
   transition: transform 3s ease-in-out;
}

#eyes{
    position:absolute;
  width:120px;
  bottom:150px;   
  left:600px;    
  opacity:0;
   filter: brightness(70%);
  transition: opacity 1s ease, filter 1s ease;

}
#eyess{
    position:absolute;
  width:90px;
  bottom:190px;   
  left:300px;    
  opacity:0;
   filter: brightness(70%);
  transition: opacity 1s ease, filter 1s ease;
  

}



}


